body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

#header{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    width: 100%;
    height: 3em;
    background-color: #fff;
    padding: 10px;
    z-index: 10;
}

#header-img{
    width: 40%;
}

a{
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 0;
}

#nav-bar{
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

#content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 70px;
}

h2{
    margin: 0;
}

#form-space{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email{
    padding: 5px;
    width: 200px;
    margin: 15px;
}

#submit{
    padding: 5px 30px 5px 30px;
    font-size: 20px;
    border-style: none;
    background-color: orange;
    border-radius: 5px;
}

#features{
    width: 80%;
}

.material-icons.md-48{
    padding: 40px;
    font-size: 60px;
    color: coral;
}

.features-box{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feature-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-title{
    margin-bottom: 0;
    font-size: 25px;
}

.feature-description{
    margin-top: 0;
}

#video{
    margin: 20px 0px 20px 0px;
}

#pricing{
    display: flex;
}

.pricing-detail{
    border: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 10px;
}

.pricing-title{
    background-color: #aaa;
    width: 100%;
    height: 50px;
    margin: 0 0 15px 0;
    text-align: center;
    line-height: 50px;
}

ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

button{
    padding: 5px 20px 5px 20px;
    margin-bottom: 10px;
}

footer{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #ddd;
    padding: 10px 10px 0px 0;
}

@media (max-width:1000px) {
    #header{
        flex-direction: column;
    }
}